html, body{
    background-color: #f1e3d3;
    margin: 0px;
    overflow: hidden;
    height: 100%;
}

/*----------------------------------------------body選擇紐位置-----------------------------------------*/
.status{
    display: block;
    text-align: center;
    margin:30% auto;
    font-size: 2em;
}

.div-status{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.btn-status{
    display: block;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30%;
}

.status-on{
    height: 50%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.4), 0 6px 25px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    margin: 0;
}
.status-off{
    height: 50%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background-color: #3d3d3d;
    box-shadow: 0 8px 0px 0px rgba(0, 0, 0, 0.4), 0 15px 20px 0 rgba(0, 0, 0, 0.20);
    color: rgb(255, 255, 255);
    margin: 0;
}
.status-on p{
    display: block;
    margin: 5px auto 0px;
}

.status-off p{
    display: block;
    margin: 5px auto 0px;
}
.status-on:hover{
    box-shadow:none;
    color: rgb(97, 187, 149);
}


.status-off:hover{
    box-shadow:none;
    color: rgb(187, 97, 115);
}