html, body{
    background-color: #f1e3d3;
    margin: 0px;
    overflow: hidden;
    height: 100%;
}
/*------------------------------------導航欄------------------------------*/
.nav_bar{
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height:60px ;
    overflow: hidden;
    position: sticky;
    list-style-type: none;
    color: rgb(255, 255, 255);
    background-color: #70a9a1;
}

.flex{
    display: flex;
    align-items: center;
    text-align: center;
}

.item{
    flex: 0.3;
    margin-left: 15px;
}

.flex-2{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

/*-----------------------------Menu 選單------------------------------*/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #70a9a1;/* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

    /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

    /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*----------------------------------------------body選擇紐位置-----------------------------------------*/
.status{
    display: block;
    text-align: center;
    margin:30% auto;
    font-size: 2em;
}

.div-status{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.btn-status{
    display: block;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30%;
}

.status-on{
    height: 50%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.4), 0 6px 25px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    margin: 0;
}
.status-off{
    height: 50%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background-color: #3d3d3d;
    box-shadow: 0 8px 0px 0px rgba(0, 0, 0, 0.4), 0 15px 20px 0 rgba(0, 0, 0, 0.20);
    color: rgb(255, 255, 255);
    margin: 0;
}
.status-on p{
    display: block;
    margin: 5px auto 0px;
}

.status-off p{
    display: block;
    margin: 5px auto 0px;
}
.status-on:hover{
    box-shadow:none;
    color: rgb(97, 187, 149);
}


.status-off:hover{
    box-shadow:none;
    color: rgb(187, 97, 115);
}