html,body{
    margin: 0px;
    height: 100%;
    overflow: hidden; 
    background-color: #f1e3d3;
}

/*---------------------------------------------------------*/
.Choose_position{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divChoose_bg{
    display:block;
    justify-content: center;
    text-align: center;
    background-color:#70a9a1 ;              
    border-radius: 20px;
    height:auto;
    width: 70%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px rgba(78, 128, 125, 0.616) ;
}


.divChoose_bg h2{
    margin: 0;
}
.divChoose_bg button{
    margin: 35px auto;
    height: 60px;
    font-size: auto;
    border-radius: 15px;
    outline: none;
    color: white;
    width: 80%;
    border: 2px solid #f1e3d3;
}


@media screen and (max-height: 730px) {
    .loginForm {height: auto}

}

.ul_footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#70a9a1 ;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

