body{
    margin: 0px;
    background-color: #f1e3d3;
}

.divChoose_bg{
    margin-top: 50%; 
    background-color:#70a9a1 ;              
    border-radius: 20px;
    width:200px;
    height: auto;
    color: white;
    padding: 45px;
    box-shadow: 10px 10px 10px rgba(78, 128, 125, 0.616) ;
}

.Choose_position{
    display: flex;
    align-items: center;              /* 項目置中 */
    justify-content: center; 
}

.divChoose_bg h2{
    text-align: center;
}

.divChoose_bg button{
    display: block;
    margin: 30px auto;
    height: 50px;
    font-size: 25px;
    border-radius: 15px;
    outline: none;
    color: white;
    width: 190px;
    border: 2px solid #f1e3d3;
}

@media screen and (max-width: 380px) {                                 /*寬度小於380像素 login 做調整*/
    .divChoose_bg {width: 175px;}
}
@media screen and (max-height: 730px) {
    .loginForm {height: auto}

}

.ul_footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#70a9a1 ;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

