body{
    background-color: #f1e3d3;
    margin: 0px;
}

/*-------------------------------------------storeInfo----------------------------------------------*/

.search-container{
    padding: 5% ;
    display: flex;
}

.search-container input{
    width: 90%;
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.search-container button {
    float: right;
    margin-top: 5px;
    background:none;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

/*-------------------------------------------storeInfo----------------------------------------------*/

.stores{
    padding: 5%;
    color: blanchedalmond;
    margin: auto auto 10%;
    
}

.store{
    padding: 10px 0px 10px 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgb(89, 165, 190);
    width: 100%;
    border: none;


}

/* background-color: rgb(200, 253, 251);---*/

.photo {
   
    border-radius: 8PX;
    padding: 5px;
    float: left;
    left: 20%;

}

.information{
    color: black;
    float: right;
    width: 56%;
    height: auto;
    line-height: 20px;
    text-align: left;
}
.information span{
    width: 100vw;
}

.photo img{
    width: 30vw;
    height: 15vh;
    border-radius: 8px;
}


/*---------------------footer---------------------*/

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

.footer__link {
    display: flex;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow:1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #ffffff;
    background-color: #70a9a1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.footer__link:hover {
    background-color: #808080;
}

.footer__link--active {
    color: #000000;
}

.nav__icon {
    font-size: 18px;
}

