html, body{
    background-color: #f1e3d3;
    margin: 0px;
    height: 100%;
    width: 100%;
}

/*----------------------------------------------畫面中心的登入視窗-----------------------------------------*/

.div-size{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    height: 100vh;
    width: 100vw;
}

.horizontal-vertical-center{
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.square{
    font-family: "Noto Sans", sans-serif;
    font-size: 3vh;
    height: auto;
    width: 60vw;
}

.img-size{
    height: 60%;
    width: 60%;
    border: 5px solid #70a9a1 ;
    border-radius: 100%;
}

button{
    background-color:#70a9a1;
    width: 40vw;
    border-radius: 20px;
    height: 5vh;
    font-size: 3vh;
    border: none;
    margin: 10vh auto;    
}



/*---------------------footer---------------------*/

.ul_footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(78, 128, 125) ;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}



