#DIV_STORE{
    text-align:center;
    width:150px;
    height:200px;
    top:100px;
    margin-left: auto;
    margin-right: auto; 
    position:relative;
}

#DIV_CUSTOMER{
    text-align:center;
    width:150px;
    height:200px;
    top:100px;
    margin-left: auto;
    margin-right: auto; 
    position:relative;
}
