body{
    margin: 0px;
    background-color: #f1e3d3;
    height: 100vh;
    width: 100vw;
}


.divForm{
    display: flex;
    align-items: center;              /* 項目置中 */
    justify-content: center;          /*水平對其置中*/
    margin-top: 35%;                /*向下平移130px*/
    width: 100vw; 
}


.loginForm{
    border-radius: 20px;
    background-color:#70a9a1 ;
    width: 80vw;
    height: 60vh;
    color: white;
    padding: 45px;
    box-shadow: 10px 10px 10px rgba(78, 128, 125, 0.616) ;
    text-align: center;
}

.loginForm h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    
}

.loginForm button, .inputText{
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 1px;
    height: 4.5vh;
    width: 20vw;
    font-size: 1rem;
}

.loginForm input[type="text"], .loginForm input[type="password"]{
    border: 2px solid #3498db;
    width: 100%;
    background:rgba(245, 245, 237, 0.53);

    color: white;
    border-radius: 22px;
    outline: none;
}

#exampleDataList{
    border: 2px solid #576873;
    text-align: center;
    margin-top: 10% ;
    background: rgba(245, 245, 237, 0.53);
    border-radius: 22px;
}

.loginForm button{
    width: 80%;
    margin-top: 2.5rem;
    border: 1.5px solid #44988d;
    background-color:#ffffff;
    /* background: none; */
}

.loginForm input[type="text"]:focus, .loginForm input[type="password"]:focus{
    border-color: #cc952e;
}

.loginForm input[type="text"]:valid, .loginForm input[type="password"]:valid{
    border-color: #2ecc71;
}

.loginForm button:hover{
    background-color: #2ecc71;
}


/* @media screen and (max-width: 380px) {                                 //寬度小於380像素 login 做調整
    .loginForm {width: 175px;}
    .loginForm h1{font-size:30px;}
    .loginForm input{font-size: 10px;}
    .loginForm input[type="text"], .loginForm input[type="password"]{width: 150px;}
    .loginForm button{width: 120px;}
    .loginForm input[type="text"]:focus, .loginForm input[type="password"]:focus{width: 175px;}
    .loginForm input[type="text"]:valid, .loginForm input[type="password"]:valid{width: 175px;}
}
@media screen and (max-height: 730px) {
    .loginForm {height: auto}

} */

.ul_footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(78, 128, 125) ;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);  
}

.image-upload{
    margin-top: -25%;
    height: 15%;
    width: 100%;
}